* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}


body{
    background-color: #264653;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bloque{
    width: 50%; 
    text-align: center;
    padding: 50px;
    background-color: #219ebc;
    
}

.bloque, h1{
    font-size: 24px;
    color: aliceblue;
}



.botonsub{
    font-weight: 700;
    color: black;
    padding: 10px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.botonsub:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.2);
}